<h2>Personal details</h2>
<hr>
<div *ngIf="detail != undefined">
    <table>
        <tr>
            <td>
                <Strong>Mother Name : </Strong>
            </td>
            <td>
                <span [innerHTML]="detail.name"></span>
            </td>
        </tr>
        <tr>
            <td>
                <Strong>Husband name : </Strong>
            </td>
            <td>
                <span [innerHTML]="detail.husbandName"></span>
            </td>
        </tr>
        <tr>
            <td>
                <Strong>Husband name : </Strong>
            </td>
            <td>
                <span [innerHTML]="detail.address"></span>
            </td>
        </tr>
        <tr>
            <td>
                <Strong>Address name : </Strong>
            </td>
            <td>
                <span [innerHTML]="detail.address"></span>
            </td>
        </tr>
        <tr>
            <td>
                <Strong>Fertility Date : </Strong>
            </td>
            <td>
                <span [innerHTML]="detail.fertilityDate"></span>
            </td>
        </tr>
        <tr>
            <td>
                <Strong>Expected Delivery Date : </Strong>
            </td>
            <td>
                <span [innerHTML]="detail.expectedDeliveryDate"></span>
            </td>
        </tr>
        <tr>
            <td>
                <Strong>Doctor appointed: </Strong>
            </td>
            <td>
                <span [innerHTML]="detail.doctor"></span>
            </td>
        </tr>
        <tr>
            <td>
                <Strong>Anganwadi appointed : </Strong>
            </td>
            <td>
                <span [innerHTML]="detail.anganwadi"></span>
            </td>
        </tr>
        <tr>
            <td>
                <Strong>Other Complications : </Strong>
            </td>
            <td>
                <span [innerHTML]="detail.otherComplications"></span>
            </td>
        </tr>
        <tr>
            <td>
                <Strong>Number Of Babies : </Strong>
            </td>
            <td>
                <span [innerHTML]="detail.numberOfBabies"></span>
            </td>
        </tr>
        <tr>
            <td>
                <Strong>Number Of Pregnency : </Strong>
            </td>
            <td>
                <span [innerHTML]="detail.numberOfPregnency"></span>
            </td>
        </tr>

    </table>

</div>