<h2>My Appointments</h2>
<hr>

<ngx-datatable class="material" [rows]="rows" [columnMode]="ColumnMode.force" [columns]="columns" [headerHeight]="50" [footerHeight]="50"
    rowHeight="auto" [limit]="5" [selected]="selected" [selectionType]="SelectionType.single" (activate)="onActivate($event)"
    (select)="onSelect($event)">

    <ngx-datatable-column *ngFor="let col of columns" [flexGrow]="col.size || 1" [name]="col.prop" [sortable]="true" [canAutoResize]="true"
        [draggable]="true" [resizeable]="true">
        <ng-template ngx-datatable-header-template let-sort="sortFn">
            <span (click)="sort()">{{ col.label }}</span>

        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>

            <span *ngIf="col.prop == 'date' ;else nondate"> {{ value | date: 'MM/dd/yyyy'}}</span>
            <ng-template #nondate>
                <span *ngIf="col.prop == 'type' ;else nontype">{{ pipeAppointmentType(value)}}</span>
                <ng-template #nontype>
                    <span style="    padding: 5px 20px;color: white;" [ngStyle]="{'background-color': !value ? 'red': 'green' }"
                        *ngIf="col.prop == 'isCompleted' ;else nonCompleted">{{value ? 'Completed' : 'Pending'}}</span>
                </ng-template>
                <ng-template #nonCompleted>
                    <span>{{ value}}</span>
                </ng-template>
            </ng-template>
        </ng-template>
        <!-- <ng-template let-value="value" ngx-datatable-cell-template>

            <span *ngIf="col.prop == 'type'"> {{ value | appintmentType}}</span>

        </ng-template> -->

    </ngx-datatable-column>

</ngx-datatable>


<div style="display:none;" #commentPoUp>
    <!-- <div class="header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="body"></div>
    <h2>Mother Information</h2> -->

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appointment Details</h5>
                <button (click)="closePopUp()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div *ngIf="loading">
                    Loading details please wait....!
                </div>
                <table *ngIf="mother != undefined && mother != null && !loading">
                    <tr>
                        <td>
                            <strong>Mother name: </strong>
                        </td>
                        <td>{{mother.name}} </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Appoint Name: </strong>
                        </td>
                        <td> {{selected[0].name}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Details :</strong>
                        </td>
                        <td> {{selected[0].details}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong> Generate OTP:</strong>
                        </td>
                        <td>
                            <button class="btn btn-primary" [disabled]="isDisable || isGeneratedOTP" (click)="generateOTP()">Generate OTP </button>
                            <span *ngIf="isDisable">
                                Generating OTP is enabled only for todays date.
                            </span>
                            <span *ngIf="isGeneratedOTP">
                                Generated OTP is :
                                <strong>{{generatedOTP}}</strong>
                                <br>
                                <ng-container [counter]="180" [interval]="1000" (value)="count = $event">
                                    OTP will expire in :
                                    <span> {{ count }} </span> seconds
                                </ng-container>
                            </span>
                        </td>
                    </tr>
                </table>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closePopUp()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="divOverlay" (click)="closePopUp()"></div>