<h1>Hello, Welcome to Womens world!!</h1>


<br/>
<br/>
<hr>
<h2>Pregnancy Week by Week
</h2>
<p>
  Looking for a week-by-week guide to pregnancy? You're in luck! We've got loads of expert-approved info about each week and trimester, including what's up with your growing baby and what changes to expect for yourself.
</p>

<p>You'll find stunning fetal development videos, thousands of articles, and helpful tools like our Due Date Calculator and Baby Names Finder. Meet other parents-to-be in our online community, and get all of this and more in our free pregnancy app. Dive in, and congratulations!</p>
<ul>
  <li>First Trimester</li>
  <li>Second Trimester</li>
  <li>Third Trimester</li>
</ul>
<br/>
<hr>
<h2>First Trimester</h2>
<p>2nd Week to 13th Week</p>
<p>After fertilization and implantation, a baby is at first just an embryo: two layers of cells from which all the organs and body parts will develop. Growing quickly, your baby is soon about the size of a kidney bean and constantly moving. The heart is beating quickly and the intestines are forming. Your budding son or daughter's earlobes, eyelids, mouth, and nose are also taking shape.</p>


<br/>
<hr>
<h2>Second Trimester</h2>
<p>14th Week to 27th Week</p>
<p>
  At the beginning of the second trimester, babies are about 3 1/2 inches long and weigh about 1 1/2 ounces. Tiny, unique fingerprints are now in place, and the heart pumps 25 quarts of blood a day. As the weeks go by, your baby's skeleton starts to harden from rubbery cartilage to bone, and he or she develops the ability to hear. You're likely to feel kicks and flutters soon if you haven't already.</p>
<br/>
<hr>
<h2>Third Trimester</h2>
<p>28th Week to 41st Week</p>
<p>Babies weigh about 2 1/4 pounds by the start of the third trimester. They can blink their eyes, which now sport lashes. And their wrinkled skin is starting to smooth out as they put on baby fat. They're also developing fingernails, toenails, and real hair (or at least some peach fuzz), and adding billions of neurons to their brain. Your blossoming baby will spend his or her final weeks in utero putting on weight. At full term, the average baby is more than 19 inches long and weighs nearly 7 pounds.</p>