<h2>Pregnancy Tips by Week
</h2>

<br>
<hr>
<h5>2 weeks pregnant</h5>

<p>It's a potentially life-changing week. You'll ovulate, and if egg meets sperm, you'll be on your way to pregnancy! blastocyst
</p>
<h5>3 weeks pregnant</h5>
<p>
    Your baby is a tiny ball – called a blastocyst – made up of several hundred cells that are multiplying quickly. embryo at
    4 weeks
</p>
<h5>4 weeks pregnant</h5>
<p>
    Deep in your uterus, your baby is an embryo made up of two layers, and your primitive placenta is developing. embryo at 5
    weeks
</p>
<h5>5 weeks pregnant</h5>
<p>
    Your tiny embryo is growing like crazy, and you may be noticing pregnancy discomforts like sore breasts and fatigue. embryo
    at 6 weeks
</p>
<h5>6 weeks pregnant</h5>
<p>
    Your baby's nose, mouth, and ears are beginning to take shape. You may be having morning sickness and spotting. embryo at
    7 weeks
</p>
<h5>7 weeks pregnant</h5>
<p>
    Your baby – still an embryo with a small tail – is forming hands and feet. Your uterus has doubled in size. baby in utero
    at 8 weeks
</p>
<h5>8 weeks pregnant</h5>
<p>
    Your baby is constantly moving, though you can't feel it. Meanwhile, you may be making decisions about prenatal tests. baby
    in utero at 9 weeks
</p>
<h5>9 weeks pregnant</h5>
<p>
    Nearly an inch long now, your baby is starting to look more human. You've probably noticed your waist thickening. baby in
    utero at 10 weeks
</p>
<h5>10 weeks pregnant</h5>
<p>
    Your baby has finished the most critical part of development! Organs and structures are in place and ready to grow. baby
    in utero at 11 weeks
</p>
<h5>11 weeks pregnant</h5>
<p>
    Your baby's hands will soon open and close into fists, and tiny tooth buds are appearing underneath the gums. baby in utero
    at 12 weeks
</p>
<h5>12 weeks pregnant</h5>
<p>
    Your little one's teeny toes can curl, her brain is growing furiously, and her kidneys are starting to excrete urine. baby
    in utero at 13 weeks
</p>
<h5>13 weeks pregnant</h5>
<p>
</p>
<h5>It's the last week of the first trimester! Your baby now has exquisite fingerprints and is almost 3 inches long.