<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" title="Healthy Mom Healty Nation">Healthy Mom Healty Nation
        <img src="../../assets/healthywomen.png"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul [ngSwitch]="userRole">
          <li *ngSwitchCase="0">
            <ul class="navbar-nav flex-grow">
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
              </li>
            </ul>
          </li>
          <li *ngSwitchCase="1">
            <ul class="navbar-nav flex-grow">
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
              </li>

              <li class="nav-item log-out" routerLinkActive="active">
                <a class="nav-link text-dark" (click)="onLogout()">Logout</a>
              </li>
            </ul>
          </li>
          <li *ngSwitchCase="2">
            <ul class="navbar-nav flex-grow">
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-dark" [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-dark" [routerLink]="['/register']">Register a MOM</a>
              </li>
              <li class="nav-item log-out" routerLinkActive="active">
                <a class="nav-link text-dark" (click)="onLogout()">Logout</a>
              </li>
            </ul>
          </li>
          <li *ngSwitchCase="3">
            <ul class="navbar-nav flex-grow">
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-dark" [routerLink]="['/anganwadi/appointment']">Dashboard</a>
              </li>
              <li class="nav-item log-out" routerLinkActive="active">
                <a class="nav-link text-dark" (click)="onLogout()">Logout</a>
              </li>
            </ul>
          </li>
          <li *ngSwitchCase="4">
            <ul class="navbar-nav flex-grow">
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-dark" [routerLink]="['/detail']">Profile</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-dark" [routerLink]="['/PregnencyTips']">Pregnency Tips</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-dark" [routerLink]="['/todo']">My Appointments</a>
              </li>
              <li class="nav-item log-out" routerLinkActive="active">
                <a class="nav-link text-dark" (click)="onLogout()">Logout</a>
              </li>
            </ul>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</header>